extends layout

block content
    canvas#canvas

    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/javascripts/jquery.event.drag-2.2.js')
    script(src='/javascripts/whiteboard.js')
    script(src='/javascripts/app.js')